# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.huffman
*.lzw
*.huffman_noisy
*.lzw_noisy
*.dec
datasets/image.bmp

# PyInstaller & EXE Build
build/
dist/
*.spec
EntropyPress_v1.0.0_Win64/
README_DIST.txt

# OS files
.DS_Store
Thumbs.db

# CodeBase Extras
full_codebase.txt
test_all.py
Icon.ico
Icon.png